.category-card__wrapper {
    width: 500px;
    padding: 12px 24px;
    position: relative;
    bottom: 250px;
    left: 65px;
    background: rgba(242, 242, 242, 0.2);
    backdrop-filter: blur(8px);
    border-radius: 8px;
}

.category-card___title {
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
}

.category-card__desc {
    margin: 0;
    padding: 0;
    width: 230px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}