.header {
    padding: 27px 0;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__nav {
    margin-left: 240px;
}

.header__nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.header__nav-item + .header__nav-item {
    margin-left: 80px;
}

.header__nav-link {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #242424;
}

.header__nav-link:hover {
    color: #FB4A7B;
}

.bi-plus-lg {
    margin-right: 12px;
}

.header__btn {
    margin-left: 80px;
    padding: 12px 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #242424;
    border: 1px solid #242424;
    border-radius: 500px;
    background: transparent;
}

.header__btn:hover {
    color: #FB4A7B;
    border: 1px solid #FB4A7B;
}

.nav-btn {
    display: none;
    padding: 5px;
	background: transparent;
	border: none;
	outline: none;
	font-size: 1.8rem;
}




@media screen and (min-width: 320px) and (max-width: 480px) {

    .header__container {
        justify-content: space-between;
    }

    .header__btn {
        display: none;
    }

    .nav-btn {
        display: block;
    }

    .header__nav {
        position: fixed;
		top: 0;
		right: 0;
		height: 100%;
		width: 100%;
		gap: 1.5rem;
		background-color: white;
        opacity: 1;
        display: none;
        border: 1px solid transparent;
        border-radius: 15px;
    }

    .header__nav-list {
        margin-top: 80px;
        flex-direction: column;
        justify-content: center;
    }

    .header__nav-item + .header__nav-item {
        margin-left: 0;
        margin-top: 40px;
    }

    .responsive_nav {
        display: block;
    }

    .header__close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
}